@model IEnumerable<electronics_shop.Models.ShoppingCartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var tongtien = decimal.Zero;
}



<div class="breadcrumb-section container mx-auto my-5 px-2 sm:px-8">
    <ul class="flex flex-wrap items-center gap-1">
        <li class="transition-all-300 hover:text-primary-color">
            <a href="index.html">Home</a>
        </li>
        <li>
            <i class="bi bi-caret-right-fill flex text-primary-color"></i>
        </li>
        <li class="transition-all-300 active hover:text-primary-color">
            <a href="shopping-cart.html">Shopping Cart</a>
        </li>
    </ul>
</div>

<div class="banner-title-section container mx-auto my-5 px-2 sm:px-8">
    <div class="liner-container my-5 flex justify-center border-b-2 border-[rgba(119,119,119,.17)]">
        <h1 class="mb-[-2px] inline-block border-b-2 border-primary-color pb-3 text-2xl font-bold uppercase">
            Shopping Cart
        </h1>
    </div>
</div>

<div class="shopping-cart-page container mx-auto my-5 px-2 sm:px-8">
    @*If the Shopping Cart is empty (replace hidden with flex)*@
    <div class="shopping-cart-empty hidden flex-col items-center justify-center gap-4 p-5">
        <i class="bi bi-cart-x text-8xl text-gray-200"></i>
        <p class="text-lg font-semibold">There are no products in the cart.</p>
        <a class="btn-effect transition-all-300 flex items-center justify-center gap-2 rounded-lg bg-primary-color p-2"
           href="#">
            <span class="font-bold uppercase text-white">Go to the store</span>
        </a>
    </div>

    <form id="load_data" class="grid grid-cols-12 gap-5 rounded-lg bg-white p-2 xs:p-5"
          action="@Url.Action("CheckOutPromotion","ShoppingCart")" method="post">
        @*@if (ViewBag.promotioncode != null)
            {
                @Html.Action("Partial_Item_Cart", "ShoppingCart", new { promotioncode = ViewBag.promotioncode })
            }
            else
            {
                @Html.Action("Partial_Item_Cart", "ShoppingCart", new { promotioncode = "" })
            }*@
        @*@Html.Action("Partial_Item_Cart", "ShoppingCart")

            @{
                var tongtien = decimal.Zero;
            }*@

        @*<form  class="grid grid-cols-12 gap-5 rounded-lg bg-white p-2 xs:p-5"
            action="#">*@
        <div class="col-span-12 lg:col-span-8">
            @*Element Responsive*@
            @if (Session["info"] != null)
            {
                if (Model != null && Model.Any())
                {
                    var i = 0;
                    foreach (var item in Model)
                    {
                        <div class="transition-all-300 flex w-full flex-col gap-2 p-2 hover:bg-gray-100 xs:flex-row lg:hidden">
                            <div class="content flex items-center">
                                <div class="flex items-center">
                                    <div class="h-[100px] w-[100px] min-w-[100px] overflow-hidden rounded-lg border">
                                        <a href="#">
                                            <img class="h-full w-full object-cover"
                                                 src="~/images/cards/mousepad.jpg"
                                                 alt="product" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="flex w-full flex-col gap-2 sm:flex-row">
                                <div class="flex w-full flex-col gap-2">
                                    <div class="content">
                                        <div class="flex flex-col">
                                            <span class="text-xs font-light xs:hidden">Product Name</span>
                                            <div>
                                                <a class="clamp-2 break-all font-bold" href="#">
                                                    @item.ProductName
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="flex flex-col">
                                            <span class="text-xs font-light lg:hidden">Unit Price</span>
                                            <div class="flex items-center gap-2">
                                                <span class="font-bold text-primary-color">$@item.Price</span>
                                                <small class="text-xs text-primary-color line-through">$@item.PromotionPrice</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="flex flex-col">
                                            <span class="text-xs font-light">Subtotal</span>
                                            <span class="font-bold text-primary-color">$@item.ToTalPrice</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="content flex items-center">
                                    <div class="flex items-center gap-x-4 gap-y-1">
                                        <div class="flex flex-col">
                                            <span class="text-xs font-light">Quantity</span>
                                            <div class="quantity inline-flex rounded-lg bg-white shadow">
                                                <input class="quantity-value input-number w-12 border-none bg-transparent p-1 text-center text-lg text-gray-400 focus:border-none focus:ring-0"
                                                       type="number"
                                                       value="0" />
                                                <div class="flex w-5 flex-col justify-between">
                                                    <button class="quantity-btn increment text-primary-color"
                                                            type="button">
                                                        <i class="bi bi-caret-up-fill"></i>
                                                    </button>
                                                    <button class="quantity-btn decrement text-primary-color"
                                                            type="button">
                                                        <i class="bi bi-caret-down-fill"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tippy tippy-remove transition-all-300 cursor-pointer text-slate-400 hover:text-primary-color">
                                            <i class="bi bi-trash-fill pointer-events-none inline text-xl"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-center">Giỏ hàng của bạn chưa có sản phẩm nào. Hãy quay lại <a style="color:darkblue" href="@Url.Action("Shop","Products")">Trang Sản Phẩm</a> để mua hàng!</p>
                }
            }
            else
            {
                <div style="text-align:center;display:flex;flex-direction:column;align-items: center; justify-content:center">
                    <p class="text-center">Vui lòng đăng nhập để thực hiện mua hàng</p>



                    <a class="btn-effect transition-all-300 my-5 flex w-\[30px\] items-center justify-center rounded-xl bg-primary-color p-2"
                       href="@Url.Action("Login", "Account")">

                        <span class="font-bold uppercase text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4" />
                            </svg> Đăng nhập ngay
                        </span>
                    </a>
                </div>

            }
            @*Element Desktop*@


            @if (Model != null && Model.Any())
            {
                var i = 0;

                foreach (var item in Model)
                {
                    tongtien += (decimal)(@item.ToTalPrice);
                    <div class="hidden overflow-x-auto lg:block">
                        <table id="trow_@item.ProductId" class="w-full min-w-[800px] text-left">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="p-2">Product Name</th>
                                    <th class="p-2">Unit Price</th>
                                    <th class="p-2">Quantity</th>
                                    <th class="p-2">Subtotal</th>
                                    <th style="text-align: center" class="p-2">Delete</th>
                                    <th style="text-align: center" class="p-2">Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hover:bg-gray-100">
                                    <td class="p-2">
                                        <div class="h-[100px] w-[100px] min-w-[100px] overflow-hidden rounded-lg border">
                                            <a href="/Products/Detail/@item.ProductId">
                                                @{
                                                    byte[] imageData = item.ProductImg;
                                                    string base64String = Convert.ToBase64String(imageData);
                                                }
                                                <img src="data:image/png;base64,@base64String" class="h-full w-full object-cover" alt="product" />
                                                @*<img width="50" class="h-full w-full object-cover"
                                                     src="@item.ProductImg"
                                                     alt="product" />*@
                                            </a>
                                        </div>
                                    </td>
                                    <td class="p-2">
                                        <a style="max-width:100px" class="clamp-2 break-all font-bold" href="/Products/Detail/@item.ProductId">@item.ProductName</a>
                                    </td>
                                    <td class="p-2">
                                        <span class="font-bold text-primary-color">@string.Format("₫{0:#,0}", item.Price)</span>
                                    </td>
                                    <td class="p-2">
                                        <div class="quantity inline-flex rounded-lg bg-white shadow">
                                            <input class="quantity-value input-number w-12 border-none bg-transparent p-1 text-center text-lg text-gray-400 focus:border-none focus:ring-0"
                                                   type="number"
                                                   id="Quantity_@item.ProductId"
                                                   value="@item.Quantity" />
                                            <div class="flex w-5 flex-col justify-between">
                                                <button class="quantity-btn increment text-primary-color"
                                                        type="button">
                                                    <i class="bi bi-caret-up-fill"></i>
                                                </button>
                                                <button class="quantity-btn decrement text-primary-color"
                                                        type="button">
                                                    <i class="bi bi-caret-down-fill"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-2">
                                        <span class="font-bold text-primary-color">@string.Format("₫{0:#,0}", item.ToTalPrice)</span>
                                    </td>
                                    <td style="text-align:center" class="p-2">
                                        <button data-id="@item.ProductId" class="btn_Delete tippy tippy-remove btn-delete transition-all-300 text-slate-400 hover:text-primary-color">
                                            <i class="bi bi-trash-fill pointer-events-none inline text-xl"></i>
                                        </button>

                                    </td>
                                    <td style="text-align:center" class="p-2">
                                        <button data-id="@item.ProductId" class="btn btn-sm btn-success btnUpdate btn-lg transition-all-300 text-slate-400 hover:text-primary-color ">
                                            <i class="fa-regular fa-floppy-disk fa-lg"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                }
            }
            else
            {
                <h3 class="text-center">Giỏ hàng chưa có sản phầm nào</h3>
            }



        </div>

        <div id="load_data" class="col-span-12 lg:col-span-4">
            @*<form action="@Url.Action("CheckOutPromotion","ShoppingCart")" method="post">*@
           
            <div class="mb-5">
                <span class="text-lg font-semibold">Discount Coupon</span>
                <div>
                    @if (ViewBag.promotioncode != null)
                    {

                        <div style="color: white; background-color: limegreen; font-size: 15px; text-align: center; border:1px solid; border-radius: 1px ">Đã áp dụng mã giảm giá thành công!</div>
                    }
                    else
                    {
                        if (ViewBag.error != null)
                        {

                            <div style="color: white;background-color:orangered; font-size: 15px; text-align: center; border-radius:1px ">Mã giảm giá không hợp lệ!</div>
                        }

                    }
                </div>
                <div class="my-3 flex">
                    @if (ViewBag.promotioncode != null)
                    {
                        string promotioncode = ViewBag.promotioncode.PromotionCode;
                        <input class="input-rounded-l"
                               type="text"
                               placeholder="Your code here" name="promotioncode" value="@ViewBag.promotioncode.PromotionCode" />
                    }
                    else
                    {
                        if (Session["error"] != null)
                        {
                            <input class="input-rounded-l"
                                   type="text"
                                   placeholder="Your code here" name="promotioncode" /><br />
                            <span style="color:red;">Mã giảm giá không hợp lệ!</span>
                            Session.Remove("error");
                        }
                        else
                        {
                            <input class="input-rounded-l"
                                   type="text"
                                   placeholder="Your code here" name="promotioncode" />
                        }
                    }
                    <button class="btn-view-shopping-cart btn-effect transition-all-300 flex min-w-max items-center justify-center rounded-r-lg bg-primary-color px-3"
                            type="submit">
                        <span class="font-bold uppercase text-white">Apply</span>
                    </button>

                </div>

            </div>

            @*</form>*@
            <div class="rounded-lg border-2 p-4">
                <span class="mb-10 inline-block text-center text-lg font-bold">Summary of your purchase:</span>

                <div class="py-4">
                    <div class="my-2 flex justify-between">
                        <span>Subtotal:</span>
                        <span>@string.Format("₫{0:#,0}", tongtien)</span>
                    </div>
                   
                    <div class="my-2 flex justify-between">
                        <span>Shipping:</span>
                        @{
                            var ship = 30000;
                            <span>@string.Format("₫{0:#,0}", ship)</span>

                        }
                    </div>
                </div>
                <div class="flex justify-between border-t-2 border-gray-200 py-4 text-xl font-bold uppercase">
                    <span>Total:</span>
                    @{
                        decimal TOTAL = decimal.Zero;
                        string ma = "";
                        if (ViewBag.promotioncode != null)
                        {
                            TOTAL = (decimal)TOTAL  + (decimal)ship + (decimal)((decimal)tongtien - (decimal)tongtien * ViewBag.promotioncode.PromotionPercentage / 100);
                            ma = ViewBag.promotioncode.PromotionCode;
                        }
                        else
                        {

                            TOTAL = (decimal)TOTAL+ (decimal)ship + (decimal)tongtien;
                        }
                    }
                    @if (tongtien != 0)
                    {
                        if (ViewBag.promotioncode != null)
                        {
                            <span>@string.Format("₫{0:#,0}", TOTAL)</span> 
                            @*<div style="color: red;font-size:8px;">(đã áp dụng mã giảm giá)</div>*@
                        }
                        else
                        {
                            if (ViewBag.error != null)
                            {
                                <span>@string.Format("₫{0:#,0}", TOTAL)</span>
                                @*<br /><br />
                            <div style="color:red;font-size:9px;">Mã giảm giá không hợp lệ!</div>*@
                            }
                            else
                            {
                                <span>@string.Format("₫{0:#,0}", TOTAL)</span>
                            }
                        }
                    }
                    else
                    {
                        <span>₫0 </span>
                    }

                </div>

                @*}*@
                <div style="display:flex ; ">
                    <button style="width: 40%; background-color: darkred; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='darkred'" onmouseout="this.style.backgroundColor='red'" class=" btnDeleteAll btn-effect transition-all-300 flex w-full items-center justify-center rounded-lg bg-primary-color p-2"
                            type="submit">
                        <span class="font-bold uppercase text-white">Discard </span>
                    </button>
                    <a style="width:60%; background-color:darkgreen" class="btn-view-shopping-cart btn-effect transition-all-300 flex w-full items-center justify-center rounded-lg bg-primary-color p-2"
                       type="" href="@Url.Action("CheckOut","ShoppingCart", new {total = TOTAL, promotion = ma})">
                        <span class="font-bold uppercase text-white">Continue</span>
                    </a>
                </div>
            </div>
            @*<a class="transition-all-300 my-5 flex items-center justify-center gap-2 hover:text-primary-color"
           href="@Url.Action("Checkout","ShoppingCart")">
            <i class="bi bi-arrow-repeat flex text-xl"></i>
            <span>Update Cart</span>
        </a>*@
            <a class="transition-all-300 my-5 flex items-center justify-center gap-2 hover:text-primary-color"
               href="@Url.Action("Shop","Products")">
                <i class="bi bi-cart-plus flex text-xl"></i>
                <span>Add more products</span>
            </a>
        </div>

    </form>


</div>


<div class="menu-mob modal transition-all-300 invisible fixed inset-0 z-50 h-full w-full bg-overlay opacity-0">
    <div class="flex h-full w-full">
        <div class="modal-content transition-all-300 relative left-[-999px] mr-auto flex h-full w-[288px] min-w-[250px] flex-col bg-white">
            <div class="w-full bg-secondary-color">
                <button class="btn-close-modal transition-all-300 absolute top-5 right-5 p-[3px] text-white">
                    <i class="bi bi-x-lg text-stroke-medium pointer-events-none flex text-xl"></i>
                </button>
                <div class="py-12">
                    <img src="images/logo.png" class="mx-auto h-[40px]" alt="logo" />
                </div>
            </div>
            <nav class="h-full w-full overflow-auto bg-white">
                <ul class="metismenu">
                    <li class="border-b border-gray-200">
                        <a class="flex select-none items-center p-2" href="index.html">
                            <i class="bi bi-house-door mr-3 flex text-xl text-primary-color"></i>
                            <span class="font-semibold">Home</span>
                        </a>
                    </li>
                    <li class="border-b border-gray-200">
                        <div class="metismenu-btn has-arrow flex cursor-pointer select-none items-center p-2"
                             aria-expanded="false"
                             role="menu">
                            <i class="bi bi-person mr-3 flex text-xl text-primary-color"></i>
                            <span class="font-semibold">My Account</span>
                        </div>
                        <div class="metismenu-content">
                            <a class="btn-open-modal ml-10 block p-1"
                               href="#"
                               data-tab="0"
                               data-target=".entry-modal">Login</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="#"
                               data-tab="1"
                               data-target=".entry-modal">Sign Up</a>
                        </div>
                    </li>
                    <li class="border-b border-gray-200">
                        <div class="btn-open-modal cursor-pointer p-2"
                             data-target=".wishlist-modal">
                            <div class="pointer-events-none flex cursor-pointer select-none items-center">
                                <i class="bi bi-heart mr-3 flex text-xl text-primary-color"></i>
                                <span class="font-semibold">Wishlist</span>
                                <span class="badge ml-auto h-[22px] min-w-[22px] px-[6px]">0</span>
                            </div>
                        </div>
                    </li>
                    <li class="border-b border-gray-200">
                        <div class="btn-open-modal cursor-pointer p-2"
                             data-target=".shopping-cart-modal">
                            <div class="pointer-events-none flex cursor-pointer select-none items-center">
                                <i class="bi bi-cart mr-3 flex text-xl text-primary-color"></i>
                                <span class="font-semibold">Shopping Cart</span>
                                <span class="badge ml-auto h-[22px] min-w-[22px] px-[6px]">0</span>
                            </div>
                        </div>
                    </li>
                    <li class="border-b border-gray-200">
                        <div class="metismenu-btn has-arrow flex cursor-pointer select-none items-center p-2"
                             aria-expanded="false"
                             role="menu">
                            <i class="bi bi-motherboard mr-3 flex text-xl text-primary-color"></i>
                            <span class="font-semibold">Hardware</span>
                        </div>
                        <div class="metismenu-content">
                            <a class="btn-open-modal ml-10 block p-1" href="#">Motherboards</a>
                            <a class="btn-open-modal ml-10 block p-1" href="#">Processors</a>
                            <a class="btn-open-modal ml-10 block p-1" href="#">Rams</a>
                            <a class="btn-open-modal ml-10 block p-1" href="#">Video Cards</a>
                            <a class="btn-open-modal ml-10 block p-1" href="#">Power Supplys</a>
                            <a class="btn-open-modal ml-10 block p-1" href="#">Hard Drives</a>
                            <a class="btn-open-modal ml-10 block p-1" href="#">SSD Disk</a>
                        </div>
                    </li>
                    <li class="border-b border-gray-200">
                        <div class="metismenu-btn has-arrow flex cursor-pointer select-none items-center p-2"
                             aria-expanded="false"
                             role="menu">
                            <i class="bi bi-mouse mr-3 flex text-xl text-primary-color"></i>
                            <span class="font-semibold">Peripherals</span>
                        </div>
                        <div class="metismenu-content">
                            <a class="btn-open-modal ml-10 block p-1" href="#">Keywords</a>
                            <a class="btn-open-modal ml-10 block p-1" href="#">Mouses</a>
                            <a class="btn-open-modal ml-10 block p-1" href="#">Mics</a>
                            <a class="btn-open-modal ml-10 block p-1" href="#">Webcam</a>
                        </div>
                    </li>
                    <li class="border-b border-gray-200">
                        <div class="metismenu-btn has-arrow flex cursor-pointer select-none items-center p-2"
                             aria-expanded="false"
                             role="menu">
                            <i class="bi bi-pc-display mr-3 flex text-xl text-primary-color"></i>
                            <span class="font-semibold">Computers</span>
                        </div>
                        <div class="metismenu-content">
                            <a class="btn-open-modal ml-10 block p-1" href="#">Notebooks</a>
                            <a class="btn-open-modal ml-10 block p-1" href="#">Desktops</a>
                        </div>
                    </li>
                    <li class="border-b border-gray-200">
                        <a class="flex cursor-pointer select-none items-center p-2"
                           href="#">
                            <i class="bi bi-tv mr-3 flex text-xl text-primary-color"></i>
                            <span class="font-semibold">Monitors</span>
                        </a>
                    </li>
                    <li class="border-b border-gray-200">
                        <a class="flex cursor-pointer select-none items-center p-2"
                           href="#">
                            <i class="bi bi-printer mr-3 flex text-xl text-primary-color"></i>
                            <span class="font-semibold">Printers</span>
                        </a>
                    </li>
                    <li class="border-b border-gray-200">
                        <a class="flex cursor-pointer select-none items-center p-2"
                           href="#">
                            <i class="bi bi-phone mr-3 flex text-xl text-primary-color"></i>
                            <span class="font-semibold">Smartphones</span>
                        </a>
                    </li>
                    <li class="border-b border-gray-200">
                        <a class="flex select-none items-center p-2" href="faqs.html">
                            <i class="bi bi-question-circle mr-3 flex text-xl text-primary-color"></i>
                            <span class="font-semibold">FAQ's</span>
                        </a>
                    </li>
                    <li class="border-b border-gray-200">
                        <a class="flex select-none items-center p-2"
                           href="contact-us.html">
                            <i class="bi bi-telephone mr-3 flex text-xl text-primary-color"></i>
                            <span class="font-semibold">Contact Us</span>
                        </a>
                    </li>
                    <li class="border-b border-gray-200">
                        <div class="metismenu-btn has-arrow flex cursor-pointer select-none items-center p-2"
                             aria-expanded="false"
                             role="menu">
                            <span class="font-semibold">Pages</span>
                        </div>
                        <div class="metismenu-content">
                            <a class="btn-open-modal ml-10 block p-1" href="wishlist.html">Wishlist</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="shopping-cart.html">Shopping Cart</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="product-details.html">Product Details</a>
                            <a class="btn-open-modal ml-10 block p-1" href="checkout.html">Checkout</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="shop-mixed.html">Shop - Mixed</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="shop-listed.html">Shop - Listed</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="shop-grid.html">Shop - Grid</a>
                            <a class="btn-open-modal ml-10 block p-1" href="about-us.html">About Us</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="my-account.html">My Account</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="forgot-password.html">Forgot Password</a>
                            <a class="btn-open-modal ml-10 block p-1" href="login.html">Login</a>
                            <a class="btn-open-modal ml-10 block p-1" href="sign-up.html">Sign Up</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="verification.html">Verification</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="terms-and-conditions.html">Terms & Conditions</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="privacy-policy.html">Privacy Policy</a>
                            <a class="btn-open-modal ml-10 block p-1" href="error404.html">Error 404</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="message-sent.html">Message Sent</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="purchase-completed.html">Purchase Completed</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="purchase-failed.html">Purchase Failed</a>
                            <a class="btn-open-modal ml-10 block p-1"
                               href="maintenance.html">Maintenance</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="btn-gotop transition-all-300 invisible fixed bottom-[-999px] right-10 z-50 opacity-0">
    <div class="transition-all-300 cursor-pointer rounded-lg bg-[rgba(0,0,0,.3)] p-3 hover:bg-primary-color">
        <i class="bi bi-chevron-compact-up pointer-events-none flex text-2xl text-white"></i>
    </div>
</div>


