@model electronics_shop.Models.Account

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}



@section styles{
    <link rel="stylesheet" href="~/Content/libraries/nice-select2/nice-select2.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <style>
        /*======= VALIDATOR =========*/
        .gap-4 {
            gap: 1.7rem;
        }

        .form-group.invalid .form-control {
            border-color: #f33a58;
        }

        .form-group.invalid .form-message {
            color: #f33a58;
        }

        .form-message {
            word-break: break-all;
            font-size: 0.7rem;
            line-height: 1.5rem;
            padding: 4px 0 0;
            display: block;
            word-break: normal;
            position: absolute;
            top: 37px;
            left: 7px
        }

        /*====== 19/12/23: ADD THÊM CSS 12:03 PM */
        .text-danger {
            font-size: 0.9rem;
            color: #f33a58;
            line-height: 1.5;
            margin-top: 0.5rem;
        }

        /*==========================*/
    </style>
}

@*Huynh nhu: edit profile-19/12/23-9:50 PM*@

<div class="breadcrumb-section container mx-auto my-5 px-2 sm:px-8">
    <ul class="flex flex-wrap items-center gap-1">
        <li class="transition-all-300 hover:text-primary-color">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li>
            <i class="bi bi-caret-right-fill flex text-primary-color"></i>
        </li>
        <li class="transition-all-300 hover:text-primary-color">
            <a href="@Url.Action("EditProfile", "Account", new {accountCode = Model.AccountCode})">My Account</a>
        </li>

    </ul>
</div>
<form action="@Url.Action("EditProfile","Account")" method="post" enctype="multipart/form-data">
    <div class="container mx-auto my-5 px-2 sm:px-8">
        <div class="tabs-container grid grid-cols-12 gap-2">
            <div class="col-span-12 lg:col-span-4">
                <div class="flex flex-col items-center gap-5 rounded bg-white p-5">
                    <div class="flex flex-col items-center">
                        <div class="relative">
                            <div class="h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-md">
                                @if (Model.Avatar != null)
                                {
                                    byte[] imageData1 = Model.Avatar;
                                    string base64String1 = Convert.ToBase64String(imageData1);
                                    <img id="imagePreview" class="h-full w-full object-cover" src="data:image/png;base64,@base64String1" alt="profile">
                                    @*<img id="imagePreview" class="h-full w-full object-cover" src="data:image;base64, @System.Convert.ToBase64String(Model.Avatar)" alt="profile" />*@
                                }
                                else
                                {
                                    <img id="imagePreview" class="h-full w-full object-cover" src="~/Content/images/comments/profile_1.png" alt="profile">
                                }
                            </div>

                        </div>
                        <div class="mt-2 text-center">
                            <span class="block font-bold mb-2">@($"{Model.LastName} {Model.FirstName}")</span>
                            <label class="cursor-pointer mt-7">
                                <span class="w-full rounded-lg bg-primary-color p-2 font-bold uppercase text-white">
                                    @*<span class="mt-4 text-base leading-normal px-4 py-2 bg-blue-500 text-white text-sm rounded-full">*@
                                    Select
                                    Avatar
                                </span>
                                <input type="file" name="image" class="hidden" id="image" accept="image/jpeg, image/jpg, image/png" onclick="defaultBtnActive()" />
                            </label>
                        </div>
                    </div>
                    <ul class="w-full text-sm">
                        <li class="btn-tabs tab-active-2 transition-all-300 active border-t hover:bg-gray-100">
                            <a class="flex items-center gap-2 px-1 py-2" href="@Url.Action("EditProfile", "Account", new {accountCode = Model.AccountCode})">
                                <i class="bi bi-person flex text-3xl text-primary-color"></i>
                                <span>My Account</span>
                            </a>
                        </li>

                        <li class="btn-tabs tab-active-2 transition-all-300 border-t hover:bg-gray-100">
                            <a class="flex items-center gap-2 px-1 py-2" href="@Url.Action("MyOrder", "Account", new {accountCode = Model.AccountCode})">
                                <i class="bi bi-clipboard flex text-3xl text-primary-color"></i>
                                <span>My Order</span>
                            </a>
                        </li>
                        <li class="transition-all-300 border-t hover:bg-gray-100">
                            <a class="flex items-center gap-2 px-1 py-2" href="@Url.Action("Logout", "Account")">
                                <i class="bi bi-box-arrow-left flex text-3xl text-primary-color"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tabs-content col-span-12 lg:col-span-8">

                <div class="tab-content active flex h-full flex-col gap-5 rounded bg-white p-5">
                    @if (ViewBag.Error != null)
                    {
                        <div class="card mb-5 mb-xl-10">
                            <div class="alert alert-success alert-dismissible bg-danger text-white border-0 fade show" style="color:red;" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                @ViewBag.Error
                            </div>
                        </div>
                    }
                    <span class="block text-xl font-bold">My Account</span>
                    <form class="grid grid-cols-12 gap-2" id="form-1">
                        <div class="col-span-12 xs:col-span-6 form-group">
                            <label class="flex flex-col text-sm">
                                First name
                            </label>
                            @*@Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input h-10", @id = "firstname" } })*@
                            <span class="form-message"></span>
                            <input class="input h-10" id="firstname" type="text" placeholder="Nhập fristname" name="firstname" value="@Model.FirstName" required />
                        </div>
                        <input type="hidden" name="code" value="@Model.AccountCode" />
                        <div class="col-span-12 xs:col-span-6 form-group">
                            <label class="flex flex-col text-sm">
                                Last name
                            </label>
                            @*@Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input h-10", @id = "lastname" } })*@
                            <span class="form-message"></span>
                            <input class="input h-10" id="lastname" type="text" placeholder="Nhập lastname" name="lastname" value="@Model.LastName" required />
                        </div>
                        <div class="col-span-12 xs:col-span-6 form-group">
                            <label class="flex flex-col text-sm">
                                Telephone
                            </label>
                            @*@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "input input-number h-10", @id = "phone", @type = "text" } })*@
                            @{
                                if (Model.PhoneNumber != null)
                                {
                                    <input class="input input-number h-10" id="phone" type="text" placeholder="Nhập số điện thoại" name="phone" value="@Model.PhoneNumber" required />
                                    <span class="form-message"></span>
                                }
                                else
                                {
                                    <input class="input input-number h-10" id="phone" type="text" placeholder="Nhập số điện thoại" name="phone" value="" required />
                                    <span class="form-message"></span>
                                }
                            }


                        </div>
                        <div class="col-span-12 form-group">
                            <label class="flex flex-col text-sm">
                                Email
                            </label>
                            @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input h-10", @id = "email", @type = "text" } })*@
                            <input class="input h-10" id="email" type="email" placeholder="Nhập email" name="email" value="@Model.Email" disabled />
                            <span class="form-message"></span>

                        </div>
                        <div class="col-span-12 xs:col-span-6">
                            <button type="submit" class="btn-effect w-full rounded-lg bg-primary-color p-2 font-bold uppercase text-white"
                                    id="save-form">
                                <span class="text-center">Save Changes</span>
                            </button>
                        </div>
                        <div class="col-span-12 xs:col-span-6">
                            <button class="btn-effect w-full rounded-lg bg-primary-color p-2 font-bold uppercase text-white"
                                    type="reset">
                                <span class="text-center">Reset</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>


            <!--
            <div class="col-span-12 lg:col-span-4">
                <div class="flex flex-col items-center gap-5 rounded bg-white p-5">
                    <div class="flex flex-col items-center">
                        <div class="relative">
                            <div class="h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-md">
                                @if (Model.Avatar != null)
                                {
                                    byte[] imageData1 = Model.Avatar;
                                    string base64String1 = Convert.ToBase64String(imageData1);
                                    <img id="imagePreview" class="h-full w-full object-cover" src="data:image/png;base64,@base64String1" alt="profile">
                                    @*<img id="imagePreview" class="h-full w-full object-cover" src="data:image;base64, @System.Convert.ToBase64String(Model.Avatar)" alt="profile" />*@
                                }
                                else
                                {
                                    <img id="imagePreview" class="h-full w-full object-cover" src="~/Content/images/comments/profile_1.png" alt="profile">
                                }
                            </div>

                        </div>
                        <div class="mt-2 text-center">
                            <span class="block font-bold mb-2">@($"{Model.LastName} {Model.FirstName}")</span>
                            <label class="cursor-pointer mt-7">
                                <span class="w-full rounded-lg bg-primary-color p-2 font-bold uppercase text-white">
                                @*<span class="mt-4 text-base leading-normal px-4 py-2 bg-blue-500 text-white text-sm rounded-full">*@
                                    Select
                                    Avatar
                                </span>
                                <input type="file" name="uploadFile" class="hidden" id="image" accept="image/jpeg, image/jpg, image/png" onclick="defaultBtnActive()" />
                            </label>
                        </div>
                    </div>
                    <ul class="w-full text-sm">
                        <li class="btn-tabs tab-active-2 transition-all-300 active border-t hover:bg-gray-100">
                            <a class="flex items-center gap-2 px-1 py-2" href="@Url.Action("EditProfile", "Account", new {accountCode = Model.AccountCode})">
                                <i class="bi bi-person flex text-3xl text-primary-color"></i>
                                <span>My Account</span>
                            </a>
                        </li>

                        <li class="btn-tabs tab-active-2 transition-all-300 border-t hover:bg-gray-100">
                            <a class="flex items-center gap-2 px-1 py-2" href="javascript:void(0)">
                                <i class="bi bi-clipboard flex text-3xl text-primary-color"></i>
                                <span>My Order</span>
                            </a>
                        </li>
                        <li class="transition-all-300 border-t hover:bg-gray-100">
                            <a class="flex items-center gap-2 px-1 py-2" href="@Url.Action("Logout", "Account")">
                                <i class="bi bi-box-arrow-left flex text-3xl text-primary-color"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            -->
            <!--
                <div class="tabs-content col-span-12 lg:col-span-8">

                <div class="tab-content active flex h-full flex-col gap-5 rounded bg-white p-5">
                    <span class="block text-xl font-bold">My Account</span>
                    @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { @class = "grid grid-cols-12 gap-2", @id = "form-1", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.AccountCode)
                        @Html.HiddenFor(model => model.CreateAt)
                        //@Html.HiddenFor(model => model.AccountStatus)
                        @Html.HiddenFor(model => model.RoleID)
                        @Html.HiddenFor(model => model.Password)

                        <div class="col-span-12 xs:col-span-6 form-group">
                            <label class="flex flex-col text-sm">
                                First name
                            </label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input h-10", @id = "firstname" } })
                            <span class="form-message"></span>
                            @*<input class="" type="text" placeholder="John" name="firstname" value="@Model.FirstName" required />*@
                        </div>
                        <div class="col-span-12 xs:col-span-6 form-group">
                            <label class="flex flex-col text-sm">
                                Last name
                            </label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input h-10", @id = "lastname" } })
                            <span class="form-message"></span>
                            @*<input class="" type="text" placeholder="John" name="lastname" value="@Model.LastName" required />*@
                        </div>
                        <div class="col-span-12 xs:col-span-6 form-group">
                            <label class="flex flex-col text-sm">
                                Telephone
                            </label>
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "input input-number h-10", @id = "phone", @type = "text" } })
                            @*<input class="input input-number h-10" type="number" placeholder="011234567890" value="011234567890"
                            required />*@
                            <span class="form-message"></span>

                        </div>
                        @*<div class="col-span-12 xs:col-span-6 form-group">
                            <label class="flex flex-col text-sm">
                                D.N.I
                            </label>
                            <input class="input input-number h-10" type="number" placeholder="" value="1234567890"
                                   required />
                            <span class="form-message"></span>

                        </div>*@
                        <div class="col-span-12 form-group">
                            <label class="flex flex-col text-sm">
                                Email
                            </label>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input h-10", @id = "email", @type = "text" } })
                            @*<input class="input h-10" type="text" placeholder="johndoe@example.com" value="johndoe@example.com"
                            required />*@
                            <span class="form-message"></span>

                        </div>
                        <div class="col-span-12 xs:col-span-6">
                            <button type="submit" class="btn-effect w-full rounded-lg bg-primary-color p-2 font-bold uppercase text-white"
                                    id="save-form">
                                <span class="text-center">Save Changes</span>
                            </button>
                        </div>
                        <div class="col-span-12 xs:col-span-6">
                            <button class="btn-effect w-full rounded-lg bg-primary-color p-2 font-bold uppercase text-white"
                                    type="reset">
                                <span class="text-center">Reset</span>
                            </button>
                        </div>
                    }
                </div>
            </div>
            -->
        </div>
    </div>
</form>




@section scriptsJS{
    <script src="~/Content/libraries/nice-select2/nice-select2.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Content/libraries/mixitup/mixitup.min.js"></script>
    <script src="~/Content/js/validator.js"></script>
    <script>
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#firstname'),
                Validator.isRequired('#lastname'),
                Validator.isPhone('#phone'),
                Validator.isEmail('#email'),
            ],
        });
    </script>

    <script>
        const inputImg = document.querySelector("#image");
        const img = document.querySelector("#imagePreview");

        function defaultBtnActive() {
            inputImg.change();
        }
        inputImg.addEventListener("change", function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function () {
                    const result = reader.result;
                    img.src = result;
                }
                reader.readAsDataURL(file);
            }
        });
    </script>

}