@model IEnumerable<electronics_shop.Models.OrderDetail>
@using PagedList.Mvc;
@{
    ViewBag.Title = "MyOrder";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}




<div class="breadcrumb-section container mx-auto my-5 px-2 sm:px-8">
    <ul class="flex flex-wrap items-center gap-1">
        <li class="transition-all-300 hover:text-primary-color">
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li>
            <i class="bi bi-caret-right-fill flex text-primary-color"></i>
        </li>
        <li class="transition-all-300 hover:text-primary-color">
            <a href="@Url.Action("EditProfile", "Account")">My Account</a>
        </li>

    </ul>
</div>

<div class="container mx-auto my-5 px-2 sm:px-8">
    <div id="orderDetailsContainer" class="tabs-container grid grid-cols-12 gap-2">
        <div class="col-span-12 lg:col-span-4">
            <div class="flex flex-col items-center gap-5 rounded bg-white p-5">
                <div class="flex flex-col items-center">
                    <div class="relative">
                        <div class="h-24 w-24 overflow-hidden rounded-full bg-gray-200 shadow-md">
                            @if (ViewBag.Account.Avatar != null)
                            {
                                byte[] imageData1 = ViewBag.Account.Avatar;
                                string base64String1 = Convert.ToBase64String(imageData1);
                                <img id="imagePreview" class="h-full w-full object-cover" src="data:image/png;base64,@base64String1" alt="profile">
                                @*<img id="imagePreview" class="h-full w-full object-cover" src="data:image;base64, @System.Convert.ToBase64String(Model.Avatar)" alt="profile" />*@
                            }
                            else
                            {
                                <img id="imagePreview" class="h-full w-full object-cover" src="~/Content/images/comments/profile_1.png" alt="profile">
                            }
                        </div>

                    </div>
                    <div class="mt-2 text-center">
                        <span class="block font-bold mb-2">@($"{ViewBag.Account.LastName} {ViewBag.Account.FirstName}")</span>
                        <!--<label class="cursor-pointer mt-7">
                <span class="w-full rounded-lg bg-primary-color p-2 font-bold uppercase text-white">-->
                        @*<span class="mt-4 text-base leading-normal px-4 py-2 bg-blue-500 text-white text-sm rounded-full">*@
                        <!--Select
                    Avatar
                </span>
                <input type="file" name="image" class="hidden" id="image" accept="image/jpeg, image/jpg, image/png" onclick="defaultBtnActive()" />
            </label>-->
                    </div>
                </div>
                <ul class="w-full text-sm">
                    <li class="btn-tabs tab-active-2 transition-all-300  border-t hover:bg-gray-100">
                        <a class="flex items-center gap-2 px-1 py-2" href="@Url.Action("EditProfile", "Account", new {accountCode = ViewBag.Account.AccountCode})">
                            <i class="bi bi-person flex text-3xl text-primary-color"></i>
                            <span>My Account</span>
                        </a>
                    </li>

                    <li class="btn-tabs tab-active-2 transition-all-300 active border-t hover:bg-gray-100">
                        <a class="flex items-center gap-2 px-1 py-2" href="@Url.Action("MyOrder", "Account", new {accountCode = ViewBag.Account.AccountCode})">
                            <i class="bi bi-clipboard flex text-3xl text-primary-color"></i>
                            <span>My Order</span>
                        </a>
                    </li>
                    <li class="transition-all-300 border-t hover:bg-gray-100">
                        <a class="flex items-center gap-2 px-1 py-2" href="@Url.Action("Logout", "Account")">
                            <i class="bi bi-box-arrow-left flex text-3xl text-primary-color"></i>
                            <span>Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tabs-content col-span-12 lg:col-span-8">

            <div class="tab-content active flex h-full flex-col gap-5 rounded bg-white p-5">


                <span class="block text-xl font-bold">My Orders</span>
                <div class="flex flex-wrap justify-between gap-5">
                    <form class="search" action="#">
                        <div class="flex h-[40px] overflow-hidden rounded-[50px] bg-gray-100">
                            <input class="search w-full border-none bg-transparent py-[5px] pl-5 text-slate-600 focus:border-none focus:ring-0 focus:ring-transparent"
                                   type="search"
                                   placeholder="Search..." />
                            <button class="btn-search px-3 text-slate-600" type="submit">
                                <i class="bi bi-search flex text-xl"></i>
                            </button>
                        </div>
                    </form>
                    <ul class="order-mix flex flex-wrap">
                        <li class="control relative cursor-pointer rounded py-2 px-3"
                            data-filter=".mix-main">
                            <span>All</span>
                        </li>
                        <li class="control relative flex cursor-pointer items-center gap-2 rounded py-2 px-3"
                            data-filter=".mix-processing">
                            <i class="bi bi-clock-history text-yellow-300"></i>
                            <span>Processing</span>
                        </li>
                        <li class="control relative flex cursor-pointer items-center gap-2 rounded py-2 px-3"
                            data-filter=".mix-completed">
                            <i class="bi bi-check-circle text-green-300"></i>
                            <span>Completed</span>
                        </li>
                        <li class="control relative flex cursor-pointer items-center gap-2 rounded py-2 px-3"
                            data-filter=".mix-cancelled">
                            <i class="bi bi-x-circle text-red-300"></i>
                            <span>Cancelled </span>
                        </li>
                    </ul>
                </div>
                <div class="mix-elements mix-all grid grid-cols-12">
                    <div class="mix mix-main mix-processing col-span-12">
                        @if (Model.Any())
                        {
                            <div>
                                @foreach (var group in Model.GroupBy(x => x.OrderCode))
                                {
                                    var orderCode = group.Key;
                                    foreach (var i in ViewBag.Order)
                                    {
                                        if (i.OrderCode == orderCode)
                                        {
                                            <a @*btn-open-modal*@="   transition-all-300 relative block p-4 hover:bg-gray-100"
                                               href="@Url.Action("Partial_Order_Details", "Account", new { id =i.OrderCode })"
                                               >

                                                <div class="pointer-events-none flex flex-col gap-5 sm:flex-row">
                                                    <div class="flex flex-col justify-between">
                                                        @foreach (var item in group)
                                                        {
                                                            <span class="clamp-2 break-all text-lg font-semibold">
                                                                <span> @item.Product.ProductName, </span>
                                                            </span>
                                                        }

                                                        <div class="my-1 flex items-center gap-1 text-xs">
                                                            <i class="bi bi-clock flex"></i>
                                                            <span>@group.First().Order.OrderDate.Value.ToString("dd-MM-yyyy")</span>
                                                        </div>

                                                        <div class="flex flex-col">
                                                            <span class="text-xs font-light">Mã Giao Dịch</span>
                                                            <span class="text-sm font-semibold"># @orderCode</span>
                                                        </div>
                                                    </div>

                                                    <div class="mt-auto flex flex-col sm:ml-auto">
                                                        <span class="whitespace-nowrap text-xs font-light">Tổng thanh toán</span>
                                                        <span class="text-sm font-semibold">@string.Format("₫{0:#,0}", group.First().Order.OrderTotal)</span>
                                                    </div>

                                                    <span class="absolute top-0 right-0 m-2 rounded-xl bg-yellow-200 py-px px-2 text-sm text-yellow-500">
                                                        Đang Xử Lý
                                                    </span>
                                                </div>
                                            </a>
                                        }
                                    }

                                }
                            </div>
                        }
                        else
                        {
                            <p class="text-center font-semibold">Bạn chưa có đơn hàng nào</p>
                        }

                    </div>

                <button id="showMoreButton" class="transition-all-300 mx-auto rounded border bg-gray-100 py-2 px-3 hover:bg-gray-200">
                    Show More
                </button>



            </div>


        </div>


    </div>
    @*<div class="row">
            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
            </div>
            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                <div>
                    @Html.PagedListPager(Model, page => Url.Action("MyOrder"), new PagedListRenderOptions
               {
                   //LinkToPreviousPageFormat = prePageIcon,
                   //LinkToNextPageFormat = nextPageIcon,
                   DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                   DisplayLinkToLastPage = PagedListDisplayMode.Never,
                   DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                   DisplayLinkToNextPage = PagedListDisplayMode.Always,
                   MaximumPageNumbersToDisplay = 10
               })
                </div>
            </div>
        </div>*@
    
</div>


@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    
</script>*@